* {
    margin: 0;
    padding: 0;
    border: border-box;
    background-color: hsl(240, 75%, 98%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}